
$fs-label-report-color: #3f51b5;

.mat-icon.item {
  font-size: 16px;
  color: $fs-label-report-color;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.label-report {
  color: $fs-label-report-color;
}

